<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <form method="post" action="/login">
        ID: <input type="text" name="id" /><br />
        Password: <input type="password" name="pwd" /><br />
        <input type="submit" value="로그인">
    </form>

    <h2>깃허브로 로그인하기</h2>
    <a href="https://github.com/login/oauth/authorize?client_id=f9b552f9759ac22ab7d9&redirect_uri=http://localhost:8080/login/oauth2/code/github" class="btn btn-primary pull-right" role="button">깃허브로 로그인</a>

</body>
</html>
