<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>프로젝트</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>프로젝트 이름</th>
        <th>프로젝트 내용</th>
        <th>프로젝트 상태</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${project.getProjectNum()}"></td>
        <td th:text="${project.getProjectName()}"></td>
        <td th:text="${project.getProjectDescription()}"></td>
        <td th:text="${project.getProjectState()}">출생신고서</td>
    </tr>
    </tbody>
</table>
<br><br><br>

<h1>task List</h1>
<table>
    <thead>
    <tr>
        <th>업무 번호</th>
        <th>업무 제목</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${taskList}">
        <td th:text="${task.getTaskNum()}"></td>
        <td style="text-decoration: underline;" th:text="${task.getTaskTitle()}"
            th:onclick="'location.href=\''+ @{|/project/${task.getProject().getProjectNum()}/task/detail/${task.getTaskNum()}|} + '\''"></td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${project.getProjectNum()}/task/${task.getTaskNum()}/update|} + '\''">
            수정
        </td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${project.getProjectNum()}/task/${task.getTaskNum()}/delete|} + '\''">
            삭제
        </td>
    </tr>
    </tbody>
</table>

<button th:onclick="'location.href=\''+ @{|/project/${project.getProjectNum()}/task/create/${memberNum}|} + '\''">작업 등록
</button>&nbsp;
<br>
<button th:onclick="'location.href=\''+ @{|/project/${project.getProjectNum()}/member/register|} + '\''">멤버 등록
</button>&nbsp;
<br><br><br>

<table>
    <thead>
    <tr>
        <th>태그 제목</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${tagList}">
        <td th:text="${tag.getTagTitle()}"></td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${projectNum}/tag/${tag.getTagNum()}/update|} + '\''">
            수정
        </td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${projectNum}/tag/${tag.getTagNum()}/delete|} + '\''">
            삭제
        </td>
    </tr>
    </tbody>
</table>
<br>
<button th:onclick="'location.href=\''+ @{|/project/${projectNum}/tag/register|} + '\''">
    태그 등록
</button>&nbsp;
<br>
<br>

<h1>마일스톤</h1>
<table>
    <thead>
    <tr>
        <th>마일스톤 제목</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="milestone : ${milestoneList}">
        <td th:text="${milestone.getMilestoneTitle()}"></td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${projectNum}/milestone/${milestone.getMilestoneNum()}/update|} + '\''">
            수정
        </td>
        <td style="text-decoration: underline;"
            th:onclick="'location.href=\''+ @{|/project/${projectNum}/milestone/${milestone.getMilestoneNum()}/delete|} + '\''">
            삭제
        </td>
    </tr>
    </tbody>
</table>
<br>
<button th:onclick="'location.href=\''+ @{|/project/${projectNum}/milestone/register|} + '\''">
    마일스톤 등록
</button>&nbsp;


</body>

<script>
    let message = "[[${message}]]"

    console.log(message);
    window.onload = function () {
        if (message !== "") {
            alert(message);
        }
    }
</script>
</html>