<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset=utf-8 http-equiv="Content-Type" content="text/html;">
    <title>회원가입</title>
</head>
<body>
<form method="post" action="/register">
    ID: <input type="text" name="memberId" /><br />
    Password: <input type="password" name="memberPassword" /><br />
    Email:<input type="email" name="memberEmail" /><br />
    <input type="submit" value="회원가입">
</form>

<h2>깃허브로 로그인하기</h2>
<a href="https://github.com/login/oauth/authorize?client_id=f9b552f9759ac22ab7d9&redirect_uri=http://localhost:8080/login/oauth2/code/github" class="btn btn-primary pull-right" role="button">깃허브로 로그인</a>
</body>

<script>
    let errorMessage = "[[${error}]]"

    window.onload = function() {
        if (errorMessage !== "") {
            alert(errorMessage);
        }
    }
</script>
</html>
