<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 가입</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>회원 가입</h2>

<form th:action="@{/members}" method="post">
    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" th:name="memberId"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:name="memberPassword"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:name="memberEmail"/></td>
        </tr>
        <tr>
            <td>Member Grade:</td>
            <td>
                <select th:name="memberGrade">
                    <option value="ROLE_ADMIN">Admin</option>
                    <option value="ROLE_USER" selected>User</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Member Status:</td>
            <td>
                <select th:name="memberStatus">
                    <option value="MEMBER_MEMBERSHIP" selected>Membership</option>
                    <option value="MEMBER_WITHDRAW">Withdraw</option>
                    <option value="MEMBER_DORMANT">Dormant</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">회원 가입</button></td>
        </tr>
    </table>
</form>

</body>
</html>
